@page
@model CP380_PubsWeb.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees Name";
}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Employees)
        {
            <tr>
                <td>@t.emp_id</td>
                <td>@t.fname  @t.lname</td>

            </tr>
        }
    </tbody>
</table>