@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can view the Jobs from the navigation menu up there ^. And go to the employees page from there.</p>
</div>
